:root {
  --color-accent: oklch(65% 50% 0);
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 5ch;
  accent-color: var(--color-accent);
  /* background-color: aliceblue;
  color: #384959; */
}

ul {
  display: contents;
  li {
    display: contents;
  }
}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.4em;
  }
  a.current {
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: var(--border-color);
  }
  a:hover{
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: oklch(65% 50% 0);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  }
}

form{
  display:grid;
  grid-template-columns: auto 1fr;
  grid-column: 1 / -1;
  gap: 1em;
  label {
    font: inherit;
    display: grid;
    grid-template-columns: subgrid;
  }
  button {
    font: inherit;
    grid-column: 1/-1;
  }
  input {
    font: inherit;
  }
  textarea {
    font: inherit;
  }

}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  article {
    margin-inline: 10px;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
    h2 {
      margin: 0;
    }
  }
}

h1 {
  line-height: 1.1;
  text-wrap: balance;
}
h2 {
  line-height: 1.1;
  text-wrap: balance;
}
h3 {
  line-height: 1.1;
  text-wrap: balance;
}
h4 {
  line-height: 1.1;
  text-wrap: balance;
}
h5 {
  line-height: 1.1;
  text-wrap: balance;
}
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

section.resume_text {
  border-style: solid; 
  border-width: 7px;
  border-color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  p.summary {
    margin-left: 70px;
    margin-right: 70px;
  }
  article.education {
    text-align: left;
    margin: 20px;
    ul {
      display: block;
      li {
        display: block;
      }
    }
  }
  article.work_experience {
    text-align: left;
    margin: 20px;
    ul {
      display: block;
      li {
        display: block;
      }
    }
  }
  article.food_coop {
    text-align: left;
    margin: 20px;
    ul {
      display: block;
      li {
        display: block;
      }
    }
  }
  article.tech_skills {
    text-align: left;
    margin: 20px;
    ul {
      display: block;
      li {
        display: block;
      }
    }
  }
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

