body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    text-align: center;
    list-style-position: inside;
    background: lightblue;
    color: #4682B4;
    section {
        background: white;
        color: black; 
        text-align: start;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 10px;
        margin: 20px;
    }
}